name: Configure Repository
on:
  push:
    branches:
      - main
jobs:
  configure:
    # Make sure this is not the template repository
    if: github.repository != 'Patman1O1/c-project-template'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Test
        run: |
          touch test.txt